<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>سیستم برگزاری آزمون آنلاین</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="../lib/jalali_data_picker/jalalidatepicker.min.css"
    />
    <link
      rel="stylesheet"
      href="node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <script
      src="https://kit.fontawesome.com/03f47c791c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-info">
    <div style="height: 100%">
      <!-- Navbar -->
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-primary"
        style="direction: rtl"
      >
        <div class="container">
          <!-- Navbar Brand -->
          <a class="navbar-brand" href="#">
            <img
              src="../static/img/pngegg.png"
              width="30"
              height="30"
              class="d-inline-block align-top"
              alt=""
            />
            سیستم آزمون آنلاین
          </a>
          <!-- Navbar Items -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a id="backItem" class="nav-link" href="#"
                  ><i class="fas fa-arrow-right"></i> بازگشت به صفحه قبلی</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Showing -->
      <div>
        <!-- Question Showing Cards -->
        <div
          class="course-container p-4 my-5 bg-secondary m-auto rounded"
          style="height: 600px; width: 1000px; direction: rtl"
        >
          <div class="m-auto w-100 d-flex justify-content-between">
            <div>
              <button id="nextQuestion" class="btn btn-primary">
                <i class="fas fa-arrow-right"></i> سوال بعدی
              </button>
              <button id="prevQuestion" class="btn btn-primary">
                سوال قبلی <i class="fas fa-arrow-left"></i>
              </button>
            </div>
            <p>زمان باقی مانده <span id="time">00:00</span></p>
          </div>
          <div id="questionContainer" class="mt-5">
            <div id="questionCard" class="card mb-4">
              <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                  <p id="questionText" class="mx-3 h5">سوال</p>
                  <p id="score" class="mx-3">نمره</p>
                </div>
                <div class="d-flex lead"></div>
                <div id="option"></div>
                <textarea
                  name=""
                  id="descAnswer"
                  class="w-100 lead p-2 d-none"
                  rows="8"
                ></textarea>
              </div>
            </div>
          </div>
          <button id="finishQuiz" class="btn btn-primary d-none">
            اتمام آزمون و ارسال
          </button>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <!-- Jalali Date Picker Scripts -->
    <script
      type="text/javascript"
      src="../lib/jalali_data_picker/jalalidatepicker.min.js"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/student-quiz.js"></script>
  </body>
</html>
